extends template 

block vars
    - var title = "Home page"
    - var company = "Intellipaat"

block body
    p Welcome to authorisation and authentication page of Intellipaat OnlineTraining 
    br
    a(href="/login") Login Here 
    br 
    a(href="/register") New User Register Here 