extends template 

block vars
    - var title = "Login page"
    - var company = "Intellipaat"

block body
    h2 Login 
    if error 
        p #{ error }
    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken ) 
        div( class="mb-3" )
            label(for="email" class="form-label") eMail
            input(type="email" class="form-control" name="email" id="email")  
        div( class="mb-3" )
            label(for="password" class="form-label") Password
            input(type="password" class="form-control" name="password" id="password")  
        div( class="mb-3" )
            input(type="submit" class="btn btn-primary" value="Login") 